<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.sync.mapper.ColumnConfigMapper">

    <select id="queryPage" resultType="com.cloud.sync.entity.ColumnConfig"
            parameterType="com.cloud.sync.query.ColumnConfigQuery">
        select * from sync_column_config
        <where>
            <if test="param.id != null">
                and id = #{param.id}
            </if>
            <if test="param.tableId != null">
                and table_id = #{param.tableId}
            </if>
            <if test="param.index != null">
                and index = #{param.index}
            </if>
            <if test="param.columnName != null and param.columnName != ''">
                and column_name like concat('%',#{param.columnName},'%')
            </if>
            <if test="param.columnRemark != null and param.columnRemark != ''">
                and column_remark like concat('%',#{param.columnRemark},'%')
            </if>
            <if test="param.columnType != null and param.columnType != ''">
                and column_type like concat('%',#{param.columnType},'%')
            </if>
            <if test="param.columnPrimaryKey != null">
                and column_primary_key = #{param.columnPrimaryKey}
            </if>
            <if test="param.def != null and param.def != ''">
                and def like concat('%',#{param.def},'%')
            </if>
        </where>
    </select>
</mapper>
