<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.sync.mapper.ConnectConfigMapper">

    <select id="queryPage" resultType="com.cloud.sync.entity.ConnectConfig"
            parameterType="com.cloud.sync.query.ConnectConfigQuery">
        select * from sync_connect_config
        <where>
            <if test="param.id != null">
                and id = #{param.id}
            </if>
            <if test="param.type != null">
                and type = #{param.type}
            </if>
            <if test="param.hostname != null and param.hostname != ''">
                and hostname like concat('%',#{param.hostname},'%')
            </if>
            <if test="param.port != null">
                and port = #{param.port}
            </if>
            <if test="param.database != null and param.database != ''">
                and database like concat('%',#{param.database},'%')
            </if>
            <if test="param.user != null and param.user != ''">
                and user like concat('%',#{param.user},'%')
            </if>
            <if test="param.password != null and param.password != ''">
                and password like concat('%',#{param.password},'%')
            </if>
            <if test="param.tablePrefix != null and param.tablePrefix != ''">
                and table_prefix like concat('%',#{param.tablePrefix},'%')
            </if>
            <if test="param.remark != null and param.remark != ''">
                and remark like concat('%',#{param.remark},'%')
            </if>
        </where>
    </select>
</mapper>
