<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.sync.mapper.TableMapMapper">

    <select id="queryPage" resultType="com.cloud.sync.entity.TableMap"
            parameterType="com.cloud.sync.query.TableMapQuery">
        select * from sync_table_map
		<where>
			<if test="param.id != null">
				and id = #{param.id}
			</if>
			<if test="param.readConnectId != null">
				and read_connect_id = #{param.readConnectId}
			</if>
			<if test="param.readTableId != null">
				and read_table_id = #{param.readTableId}
			</if>
			<if test="param.writeConnectId != null">
				and write_connect_id = #{param.writeConnectId}
			</if>
			<if test="param.writeTableId != null">
				and write_table_id = #{param.writeTableId}
			</if>
		</where>
    </select>
</mapper>
