<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tianque.scgrid.service.issue.link.mapper.IssueLinkPersonMapper">

    <select id="queryPage" resultType="com.tianque.scgrid.service.issue.link.entity.IssueLinkPerson"
            parameterType="com.tianque.scgrid.service.issue.link.query.IssueLinkPersonQuery">
        select * from issue_link_person
		<where>
			<if test="param.id != null">
				and id = #{param.id}
			</if>
			<if test="param.name != null and param.name != ''">
				and name like concat('%',#{param.name},'%')
			</if>
			<if test="param.idCard != null and param.idCard != ''">
				and id_card like concat('%',#{param.idCard},'%')
			</if>
			<if test="param.phone != null and param.phone != ''">
				and phone like concat('%',#{param.phone},'%')
			</if>
			<if test="param.remark != null and param.remark != ''">
				and remark like concat('%',#{param.remark},'%')
			</if>
			<if test="param.issueId != null">
				and issue_id = #{param.issueId}
			</if>
			<if test="param.isDelete != null">
				and is_delete = #{param.isDelete}
			</if>
	</where>
    </select>
</mapper>
