<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.mapper.DeptMapper">

    <select id="queryPage" resultType="com.cloud.entity.Dept"
            parameterType="com.cloud.query.DeptQuery">
        select * from dept
		<where>
			<if test="param.id != null">
				and id = #{param.id}
			</if>
			<if test="param.name != null and param.name != ''">
				and name like concat('%',#{param.name},'%')
			</if>
			<if test="param.seq != null">
				and seq = #{param.seq}
			</if>
			<if test="param.nodeId != null">
				and node_id = #{param.nodeId}
			</if>
			<if test="param.userIds!=null and param.userIds.size()>0">
				and id in (select dept_id from user_dept_merge where user_id in
				<foreach collection="param.userIds" item="item" open="(" close=")" separator="," >
					#{item}
				</foreach>
			</if>
	</where>
    </select>
</mapper>
