<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.mapper.UserDetailMapper">

    <select id="queryPage" resultType="com.cloud.entity.UserDetail"
            parameterType="com.cloud.query.UserDetailQuery">
        select * from user_detail
		<where>
			<if test="param.id != null">
				and id = #{param.id}
			</if>
			<if test="param.userId != null">
				and user_id = #{param.userId}
			</if>
			<if test="param.name != null and param.name != ''">
				and name like concat('%',#{param.name},'%')
			</if>
			<if test="param.age != null">
				and age = #{param.age}
			</if>
	</where>
    </select>
</mapper>
