<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloud.mapper.UserMapper">

    <select id="queryPage" resultType="com.cloud.entity.User"
            parameterType="com.cloud.query.UserQuery">
        select * from user
		<where>
			<if test="param.id != null">
				and id = #{param.id}
			</if>
			<if test="param.userName != null and param.userName != ''">
				and user_name like concat('%',#{param.userName},'%')
			</if>
			<if test="param.password != null and param.password != ''">
				and password like concat('%',#{param.password},'%')
			</if>
			<if test="param.permissionsIds!=null and param.permissionsIds.size()>0">
				and id in (select user_id from user_permissions_merge where permissions_id in
				<foreach collection="param.permissionsIds" item="item" open="(" close=")" separator="," >
					#{item}
				</foreach>
			</if>
			<if test="param.tagIds!=null and param.tagIds.size()>0">
				and id in (select user_id from user_tag_merge where tag_id in
				<foreach collection="param.tagIds" item="item" open="(" close=")" separator="," >
					#{item}
				</foreach>
			</if>
			<if test="param.deptIds!=null and param.deptIds.size()>0">
				and id in (select user_id from user_dept_merge where dept_id in
				<foreach collection="param.deptIds" item="item" open="(" close=")" separator="," >
					#{item}
				</foreach>
			</if>
	</where>
    </select>
</mapper>
